# Data Science Tools and Ecosystem

Data Science Tools and Ecosystem are summarized.

### Objectives

* list of some of the data science languges
* list of pupular libraries in data science
* list some of data science enviruments

Some of Data science languges are:

1. python
2. java
3. R
4. Julia
5. Scala

Some of the commonly used libararies used by data scince include

1. Numpy
2. Pandas
3. MatplotLip
4. SciPy
5. Seabom
6. Pytorch

| Data Sccience tools |
| ------------------ |
| Viual studio code |
| Rstudio |
| Juptyer notbook |

### Below are few examples of evaluting arithmetic expresstions in python

In [7]:
# WE multipled 3 by 4 and then added 5 to 8
(3*4)+5

17

In [8]:
# this lines of code will comvert 200 min to hours bt diving by 60
mins = 200 
mins / 60

3.3333333333333335

## Author

zeyad alhadadi